:root {
    --primary-color: #6441a5;
    --secondary-color: #563d7c;
    --background-color: #000;
    --text-color: #fff;
    --icon-size: 4rem;
    --spacing: 1em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing);
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
}

.profile-image-container {
    flex-shrink: 0;
    margin-right: 2rem;
}

.profile-image {
    width: 100%;
    max-height: 350px;
    border-radius: 50%;
}

.about-text {
    flex: 1;
    text-align: left;
}

.social-media-section h2 {
    margin-bottom: 20px;
}

.social-icons a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 1rem;
}

.social-icons i {
    font-size: var(--icon-size);
    transition: transform 0.3s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

footer {
    text-align: center;
    padding: var(--spacing);
}

/* More responsive layout with flexbox */
.side-by-side-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
}

.google-form iframe, .google-drive-pdf iframe {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}
