body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

header {
    background-color: #6441a5;
    color: white;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
header img {
    height: auto;
    width: auto;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}
nav ul li a:hover {
    background-color: #563d7c;
    border-radius: 5px;
}