body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #6441a5;
    color: white;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

header img {
    height: 90%;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav ul li a:hover {
    background-color: #563d7c;
    border-radius: 5px;
}

.projects-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to the top */
    padding: 1em;
    text-align: center;
}

.projects-main h1 {
    margin-top: 10px; /* Add some top margin for spacing */
}

.projects-section {
    max-width: 1000px;
    margin: 20px auto; /* Added margin for spacing */
    padding-top: 10px; /* Added padding to move content down */
    margin-bottom: 5px;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.project-item {
    text-align: center;
    width: calc(33.33% - 60px); /* Adjust width for three items per row with gap */
    margin-bottom: 30px; /* Increased margin between rows */
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-item button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #6441a5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.project-item button:hover {
    background-color: #563d7c;
}

footer {
    text-align: center;
    padding: 1em;
}